<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>CarbonClothes</title>{% endblock %}
  {% load static %}
  <link rel="stylesheet" href="//bootswatch.com/5/zephyr/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/custom.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CarbonClothes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/feed">Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>    
</body>
</html>