{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'store/style.css' %}">
{% endblock %}

{% block content %}
    <br>
    <h1>Welcome to Carbon Clothing</h1>
    <br>
    <div class="form-container">
        <form>
            <label for="email">Email: </label>
            <input type="text" id="email" name="email" required><br><br>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required><br><br>
            <input id="submit" class="btn btn-primary btn-lg" type="submit" value="Log in">
        </form>
        <br>
        Don't have an account?<br>
        <a href="/signup">Sign up</a>
    </div>
{% endblock %}
